.analysis-container {
  margin-top: 5px;
  padding: 20px;
  font-family: adagio_slab;
}

.analysis-header {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #333;
  position: relative;
}

.analysis-header::after {
  content: "";
  display: block;
  width: 340px;
  height: 3px;
  background-color:  rgb(106, 106, 131);
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

.section-card {
  background-color: #ffffff;
  border: 1px solid rgb(106, 106, 131);
  border-radius: 12px;
  width: 340px; /* zwiększone z 280px */
  height: 340px; /* zwiększone z 280px */
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}


.section-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.section-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

.analysis-field {
  font-size: 0.95rem;
  color: #666;
  text-align: left;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* ograniczenie linii */
  -webkit-box-orient: vertical;
  transition: all 0.3s ease;
}

.analysis-field.expanded {
  -webkit-line-clamp: unset;
  display: block;
  white-space: normal;
  overflow: visible;
}


.analysis-field strong {
  color: #444;
  display: block;
  margin-bottom: 0.3rem;
}


#back-button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgb(106, 106, 131);  /* Ciemne tło */
    color: #fff; /* Biały napis */
    border: none;
    font-family: adagio_slab;
    display: inline-block;
}

#back-button:hover {
  background-color: #333;
}

#analysis-tabs .nav-link.active {
  background-color: #ffffff !important; /* lub inny kolor tła */
  color: #333 !important; /* np. kolor tekstu */
  border-color: #0d6efd !important; /* podkreślenie/obramowanie */
  font-weight: 600;
}

#analysis-tabs .nav-link {
  color: rgb(106, 106, 131) !important;
  background-color: transparent !important;
  border: none;
  border-right: 1px solid #ccc; /* linia pionowa */
  padding-right: 1rem;
  margin-right: 1rem;
}

#analysis-tabs .nav-link:last-child {
  border-right: none;
  margin-right: 0;
}