#user_data_container {
  max-width: 500px;
  margin: 0 auto; /* Wyśrodkowuje kontener formularza na stronie */
  display: flex; /* Ustawia kontener formularza jako kontener flexbox */
  justify-content: center; /* Wyśrodkowuje zawartość wzdłuż osi X */
  align-items: center;
  font-family: adagio_slab;
}

.buttonContainer {
  font-family: adagio_slab; /* Ustawienie czcionki */
}

.inputButton {
  font-family: adagio_slab; /* Ustawienie czcionki */
  /* Dodatkowe style przycisku, jeśli są wymagane */
}

.info_text {
  font-family: adagio_slab;
  font-size: 17px;
}

.info_text_bold {
  font-family: adagio_slab;
  font-size: 17px;
  font-weight: bold;
}
