/* Stylizacja przycisku */
.btn-custom {
  background-color: rgb(61, 61, 77) !important; /* Zmień kolor tła na zielony (możesz dostosować kolor według potrzeb) */
  color: white; /* Zmień kolor tekstu na biały */
  border: none; /* Usuń obramowanie */
  padding: 10px 20px; /* Dodaj wewnętrzne wypełnienie */
  font-size: 16px; /* Zmień rozmiar czcionki */
  cursor: pointer; /* Zmień kursor na wskaźnik */
  text-align: center; /* Wyśrodkuj tekst */
  display: inline-block; /* Ustaw wyświetlanie inline-block */
  margin: 0 auto; /* Wyśrodkuj przycisk */
  display: block; /* Zmień wyświetlanie na block, aby działało auto margin */
}

.btn-custom:hover {
  background-color: #45a049; /* Zmień kolor tła na ciemniejszy zielony podczas najechania */
}

/* Kontener przycisku wyśrodkowany */
.button-container {
  text-align: center; /* Wyśrodkuj przycisk w kontenerze */
  margin-top: 10px; /* Dodaj odstęp od góry */
}

/* Stylizacja innych elementów */
#user_data_container {
  margin: 0 auto; /* Wyśrodkowuje kontener formularza na stronie */
  display: flex; /* Ustawia kontener formularza jako kontener flexbox */
  justify-content: center; /* Wyśrodkowuje zawartość wzdłuż osi X */
  align-items: center;
  font-family: adagio_slab;
  float: left; /* Ustaw kontener danych użytkownika na lewo */
  width: 70%;
}

.info_text {
  font-family: adagio_slab;
  font-size: 17px;
}

.info_text_bold {
  font-family: adagio_slab;
  font-size: 17px;
  font-weight: bold;
}

.user_visits_container {
  margin-left: 30px; /* Dodaj margines z lewej strony, aby oddzielić od kontenera danych użytkownika */
  font-family: adagio_slab;
}

.user_visits_container ul {
  list-style-type: none; /* Usuń domyślny styl listy */
  padding: 0; /* Usuń wewnętrzne wypełnienie listy */
}

.user_visits_container li {
  border: 1px solid #ccc; /* Dodaj obramowanie dla każdej wizyty */
  margin-bottom: 10px; /* Dodaj margines na dole dla odstępu między wizytami */
  padding: 10px; /* Dodaj wewnętrzne wypełnienie dla każdej wizyty */
}

.user_visits_container li p {
  margin: 5px 0; /* Dodaj odstęp między paragrafami wewnątrz każdej wizyty */
}

.card-hover {
  transition: box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Dodaj cień wokół karty */
}

.card_header {
  background-color: rgb(61, 61, 77) !important;
  color: white !important;
  font-weight: lighter;
  font-family: adagio_slab;
  font-size: 1.5rem;
  text-align: center;
}

.h3 {
  font-family: adagio_slab;
}


#chat_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgb(50, 50, 64);  /* Ciemne tło */
    color: #fff; /* Biały napis */
    border: none;
    font-family: adagio_slab;
    display: inline-block;
}

#chat_btn2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: rgb(106, 106, 131);  /* Ciemne tło */
    color: #fff; /* Biały napis */
    border: none;
    font-family: adagio_slab;
    display: inline-block;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* wyrównanie do lewej */
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1280px;
}

.info-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  width: calc(25% - 1.5rem); /* 4 karty w rzędzie przy zachowaniu odstępu */
  aspect-ratio: 1 / 1; /* kwadratowy kształt */
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.info-card h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
}

.info-card p {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* liczba widocznych linii */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}





@media (max-width: 1200px) {
  .info-card {
    width: calc(33.33% - 1.5rem); /* 3 karty w rzędzie */
  }
}

@media (max-width: 900px) {
  .info-card {
    width: calc(50% - 1.5rem); /* 2 karty w rzędzie */
  }
}

@media (max-width: 600px) {
  .info-card {
    width: 100%; /* 1 karta na całą szerokość */
  }
}

