.form-container {
  max-width: 600px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  /* usuń margin-top i padding-top */
}

.login-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  align-items: center;
}


.form-label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: adagio_slab, sans-serif;
}

.form-control {
    width: 100%;
    max-width: 400px;
    height: 30px;
    font-size: 16px;
    font-family: adagio_slab, sans-serif;
    border-radius: 10px;
    border-color: #a09898;
}

.form-group,
.input-group {
    width: 100%;
}

.form-inline {
    width: 100%;
}

#form_btn {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: #333; 
    color: #fff; 
    border: none;
    font-family: adagio_slab;
    float: right; 
}

#form_btn:hover {
    background-color: #555; 
} 


